:root {
  --text-color: #FFFFFF;
  --bg-color: #535461;
  --bar-color: #4A4B56;
  --border-color: #696978;
  --primary-color: #3b82f6;
  --radius-big: 10px;
  --radius-small: 4px;
  --input-height: 42px;
}

html,
body {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

[dir="rtl"] {
  text-align: right;
}
