.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.loading, .error, .empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  text-align: center;
  color: var(--text-color);
  opacity: 0.6;
  width: 100%;
}

.error {
  color: #ef4444;
  opacity: 1;
}

.emptyIcon {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--bar-color);
}
